.radarSpin {
  animation: spin 10s linear infinite;
  transform-origin: 0 0;
}

.radarSpin path {
  filter: blur(8px);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
