name: Auto Approve Renovate PRs

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

permissions:
  pull-requests: write

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    if: github.actor == 'renovate[bot]'
    steps:
      - name: Auto-approve
        uses: hmarr/auto-approve-action@v4
        with:
          review-message: 'Auto-approved for Renovate automerge.'
