name: Lighthouse
on:
  pull_request:

permissions:
  contents: read

jobs:
  lhci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        formFactor: [mobile, desktop]
    timeout-minutes: 15
    env:
      BASE_URL: 'http://localhost:3000'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup base environment
        uses: ./.github/actions/build-dependency

      - name: Build & start
        run: pnpm run build && pnpm run start & npx wait-on@latest $BASE_URL

      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            '$BASE_URL/en'
            '$BASE_URL/de'
          configPath: './.github/lighthouse/lighthouserc.js'
          uploadArtifacts: false
          temporaryPublicStorage: true
        env:
          LHCI_FORM_FACTOR: ${{ matrix.formFactor }}
